/* Thiết lập nền tối */
body {
    background-color: #0d1117;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.question-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.2s;
    width: 90%;
}

.local-gif {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 3rem auto;
    pointer-events: none;
}

.question {
    font-size: 2.5rem; /* Điều chỉnh nhỏ lại để vừa chữ dài */
    margin-bottom: 2rem;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.btn {
    padding: 14px 24px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff54a4;
    color: white;
    box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
}

.btn:hover {
    transform: scale(1.1);
}